@using Microsoft.EntityFrameworkCore;
@using CabManagementSystem.AppContext;
@{
    Layout = "~/Views/Shared/_LayoutHeader.cshtml";
    ApplicationContext applicationContext = new(new DbContextOptions<ApplicationContext>());
    TaxiContext taxiContext = new(new DbContextOptions<TaxiContext>());
}
@model UserModel
<title>Admin Panel</title>

<div class="container">
    <form method="post" asp-controller="Admin" asp-action="AddTaxi" id="add-taxi-id">
        <div>
            <label asp-for="Taxi.TaxiClass"></label><br />
            <input value="" asp-for="Taxi.TaxiClass" id="taxi-taxiclass" />
        </div>
        <div>
            <label asp-for="Taxi.TaxiNumber"></label><br />
            <input value="" asp-for="Taxi.TaxiNumber" id="taxi-taxinumber" />
        </div>
        <input type="submit" value="Add Taxi" id="submit-button-add-taxi" />
    </form>
    <form method="post" asp-controller="Admin" asp-action="EditTaxi">
        <div>
            <label asp-for="Taxi.ID"></label><br />
            <input value="" asp-for="Taxi.ID" />
        </div>
        <div>
            <label asp-for="Taxi.TaxiClass"></label><br />
            <input value="" asp-for="Taxi.TaxiClass" />
        </div>
        <div>
            <label asp-for="Taxi.TaxiNumber"></label><br />
            <input value="" asp-for="Taxi.TaxiNumber" />
        </div>
        <input type="submit" value="Edit Taxi" />
    </form>
    <form method="post" asp-controller="Admin" asp-action="DeleteTaxi">
        <div>
            <label asp-for="Taxi.ID"></label><br />
            <input value="" asp-for="Taxi.ID" />
        </div>
        <input type="submit" value="Delete Taxi" />
    </form>
</div>
<script>
    $(function () {
        $.ajax('D:/CabManagementSystem/CabManagementSystem/Data/Json/taxi.json', {
            success: function data() {
                var temp = $('#add-taxi-id');
                template.tmpl(data.slice(0, 3)).appendTo('#taxi-taxiclass');
                template.tmpl(data.slice(3)).appendTo('#taxi-taxinumber');
            }
        });
    });
    $('#submit-button-add-taxi').click(function () {
        $.ajax({
            type: 'POST',
            url: 'D:/CabManagementSystem/CabManagementSystem/Data/Json/taxi.json',
            data: {
                TaxiClass: $('#taxi-taxiclass').val(),
                TaxiNumber: $('#taxi-taxinumber').val()
            },
            success: function (data) {
                alert('Taxi Added');
            }
        });
    });

</script>