@using Microsoft.EntityFrameworkCore;
@using CabManagementSystem.AppContext;
@{
    Layout = "~/Views/Shared/_LayoutHeader.cshtml";
    string? PathSerialization = "D:/CabManagementSystem/CabManagementSystem/Data/Json/taxi.json";
    ApplicationContext applicationContext = new(new DbContextOptions<ApplicationContext>());
    TaxiContext taxiContext = new(new DbContextOptions<TaxiContext>());
    var json = applicationContext.DeserializeData(PathSerialization);
}
@model UserModel
<title>Admin Panel</title>

<div class="container">
    <form method="post" asp-controller="Admin" asp-action="AddTaxi" id="add-taxi-id">
        <div>
            <label asp-for="Taxi.TaxiClass"></label><br />
            <input value="" asp-for="Taxi.TaxiClass" id="taxi" />
        </div>
        <div>
            <label asp-for="Taxi.TaxiNumber"></label><br />
            <input value="" asp-for="Taxi.TaxiNumber" id="taxi" />
        </div>
        <div>
            <label asp-for="Taxi.DriverID"></label><br />
            <input value="" asp-for="Taxi.DriverID" id="taxi" />
        </div>
        <input type="submit" value="Add Taxi" id="submit-button-add-taxi" />
    </form>
    <form method="post" asp-controller="Admin" asp-action="EditTaxi">
        <div>
            <label asp-for="Taxi.ID"></label><br />
            <input asp-for="Taxi.ID" id="taxi" />
        </div>
        <div>
            <label asp-for="Taxi.TaxiClass"></label><br />
            <input asp-for="Taxi.TaxiClass" id="taxi" />
        </div>
        <div>
            <label asp-for="Taxi.TaxiNumber"></label><br />
            <input asp-for="Taxi.TaxiNumber" id="taxi" />
        </div>
        <input type="submit" value="Edit Taxi" />
    </form>
    <form method="post" asp-controller="Admin" asp-action="DeleteTaxi">
        <div>
            <label asp-for="Taxi.ID"></label><br />
            <input value="" asp-for="Taxi.ID" />
        </div>
        <input type="submit" value="Delete Taxi" />
    </form>
</div>